body, html {
    margin: 0px;

    height:100%;
}

#logo {
    border-radius:200px;
}

header {
    background-color:red;
}

@media screen and (min-width: 780px) {
    body {
        background-image:url('https://wallpapercave.com/wp/wp6590654.jpg');
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
    }
}