body, html {
    margin: 0px;

    height:100%;
}

#logo {
    border-radius:200px;
}

a {
    color:white !important;
    font-size:20px;
    text-decoration:none;
}

header {
    background-color:#F7B8CB;
    padding:8px;
    margin:0px !important;
}

@media screen and (min-width: 780px) {
    main {
        background-image:url('https://wallpapercave.com/wp/wp6590654.jpg');
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
    }

    header {
        display:flex;
        flex-direction:row;
    }

    nav {
        margin-top:auto;
        margin-bottom:auto;
        margin-right:8px;
        margin-left:auto;
    }
}

@media screen and (max-width: 780px) {
    main {
        background-image:url('https://wallpapercave.com/wp/wp6590654.jpg');
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
    }

    header {
        display:flex;
        flex-direction:column;
    }

    nav {
        margin-top:auto;
        margin-bottom:auto;
        margin-right:8px;
        margin-left:auto;

        display:flex;
        flex-direction:column;

        width:100%;
    }

    a {
        width:100%;
        color:#D07196 !important;

        text-align:center;
    }
}