@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Ruda:wght@400..900&display=swap');

* {
    font-family:'Crimson Pro';
    margin-top:1em;
    margin-bottom:1em;
}

h1 {
    font-family:'Ruda';
    border-style:solid;
    border-width:0px;
    border-bottom-width:1px;
    border-color:black;
}

section {
    display:flex;
    flex-direction:column;
}

body * {
    color: black;

    width:800px;
    margin-left:auto;
    margin-right:auto;
}

header img {
    width:80px;
    height:80px;
}

menu {
    border-width:2px;
    border-color:black;
    border-style: dotted;
    border-radius:27px;
}

a {
    color:black;
}

a::visited {
    color:gray;
}

@media screen and (max-width: 700px) {
    .item {
        display:flex;
        flex-direction:row;
    }

    .item img {
        width:100px;
        height:60px;
    }
  }