body, html {
    margin: 0px;

    height:100%;
}

header {
    background-color:#F7B8CB;
    padding:8px;
    margin:0px !important;
}

#menu {
    display:none;
}

#menu + label {
    background-image:url('../../../assets/images/OIP\ \(7\).jpeg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;

    color:TRANSPARENT;
}

#menu:checked ~ #nav {
    display:block;
}